html,body{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  background: #FFD36E;
}

header
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(240,134,37);
}

#menu
{
	position: fixed;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 4%;
	background: black;
	opacity: 80%;
	list-style-type: none;
	text-align: center;
	font-size: 19px;
	padding:8px 15px;
	z-index: 9999;
	font-family: "comic sans ms";
}
footer
{
    position: fixed;
    align-items: center;
    bottom: 0;
    left: 0;
    background: rgb(240,134,37);
    width: 100%;
}

#menu :hover{
	font-size: 25px;
	background-color: rgb(62, 56, 110,0.3s);
	transition: 0.5s;
}

.navBar{
	position:relative;
	flex: 1;
	display: block;
	float: left;
	justify-content: center;
	margin-right: 3%;
	color: #fff;	
    text-decoration: none;
}

.parent {
	margin: 1rem;
	padding: 2rem 2rem;
	text-align: center;
  }
.child {
	display: inline-block;
	vertical-align: middle;
  }

div {
    text-align: center;  
}
#header {
    text-align: left;
}
/* CSS */
button, input[type=submit] {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  /* display: block; */
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
input[type=submit]:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

button:active {
    transform: scale(0.95);
}
input[type=submit]:active {
  transform: scale(0.95);
}

input[type=text], input[type=password], input[type=color],  input[type=email] {
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background-color: rgba(155, 100, 100, 0.4);
}
canvas {
    border: 2px solid black;
}

#topLable{
  font-size: 20px;
  font-weight: 600;
  background-image: linear-gradient(to left, #00ccff, #ff0000);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#wirteNice {
  background-color: rgb(184, 116, 14);
  box-shadow: 0 5px 0 rgb(124, 65, 11);
  color: white;
  padding: 0.5em 0.5em;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
}

#wirteNice:hover {
  background-color: #ff7b00;
}

#wirteNice:active {
  box-shadow: none;
  top: 5px;
}

.modal {
  text-align: center;
  font-weight: bold;
}

audio{display: none;}